<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FlashCards</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">FlashCards Test</h1>
                </div>
                <div class="panel-body">
                    <h1 th:text="${flashcard.getQuestion()}">Question</h1>
                    <div id="welcomeDiv" style="visibility:hidden;" class="answer_list"><h1
                            th:text="${flashcard.getAnswer()}">Answer</h1></div>
                    <input id="answerButton" type="button" style="display:block;" name="answer" value="Show Answer"
                           onclick="showDiv()"/>
                    <input id="nextQuestion" type="button" style="display:none;" name="question" value="Next Question"
                           th:onclick="|window.location.href='/test'|"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showDiv() {
        document.getElementById('welcomeDiv').style.visibility = "visible";
        document.getElementById('answerButton').style.display = "none";
        document.getElementById('nextQuestion').style.display = "block";
    }

</script>
</body>
</html>